* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    min-width: 320px;
}

.wrap {
    max-width: 1044px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background: radial-gradient(#d1d1d1 7%, transparent 7%) 0 0;
    background-color: white;
    background-size: 20px 20px;
}
