.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 7px 17px 0;
}

.button a {
    text-decoration: none;
    font-size: 14px;
    line-height: 23px;
    color: white;
    padding: 1px 5px;
    display: inline-block;
}

.button_arrow {
    background-color: #faa61a;
    padding: 0 7px;
}

.button_text {
    background-color: black;
}
